body {
    background-color: black;
    color: white;
}

.title{
    display: flex;
    justify-content: center;
    margin-top: 8%;
    margin-bottom: 5%;;
}


/* Nav Menu */

.navBar{
    /* height: 20px; */
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    margin-bottom: 20px;

}

a{
    position: relative;
    text-decoration:underline;
    font-family: "Outfit", sans-serif;
    font-optical-sizing: auto;
    font-weight:500;
    font-style: normal;
    font-size: 25px;
    letter-spacing: 3px;
    padding: 10px 50px;
    color: rgb(179, 114, 114);

  
}

a:after{
    content: "";
    position: absolute;
    background-color: rgb(235, 182, 165);
   

}
a:hover{
    color:rgb(255, 190, 59);
    transform: scale(1.12);
} 
a:hover:after{
    

}
/* End Nav Menu */

